/* Help.css */
.help-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gainsboro;
    /* Light gray background */
}

.help-content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.help-content h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.back-button {
    position: absolute;
    top: -100px;
    left: 150px;
    padding: 10px 20px;
    font-size: 16px;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #e7f0ff;
}