.filters-carousel {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: lightgoldenrodyellow;
  margin-top: 78px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.filter-item:hover {
  transform: scale(1.1);
}

.filter-item h5 {
  margin: 5px 0 0;
  font-size: 0.9em;
  text-align: center;
}

.filter-item svg {
  font-size: 1.7em;
  margin-bottom: 5px;
}

.filter-item.active {
  border-bottom: 2px solid blue;
  /* Indicating active filter */
}
.filters-carousel .carousel .control-arrow {
  background-color: #333;
  /* Change background color of arrows */
  border-radius: 50%;
  /* Make arrows circular */
  width: 40px;
  /* Width of the arrows */
  height: 40px;
  /* Height of the arrows */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* Arrow color */
  font-size: 1.5em;
  /* Arrow size */
}

.filters-carousel .carousel .control-prev.control-arrow {
  left: 20px;
  top: 20px;
}

.filters-carousel .carousel .control-next.control-arrow {
  right: 20px;
  top: 20px;
}

.filters-carousel .carousel .control-arrow:hover {
  background-color: #555;
}
