/* src/pages/Home.css */
.HomePage {
  background-color: #ffffff;
  margin-top: 200px;
}
.HomePage-heading {
  margin-left: 50px;
}
.home {
  padding: 20px;
}

.home__banner {
  text-align: center;
  background-color: #ff385c;
  color: white;
  padding: 50px 0;
}

.home__banner h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.home__banner p {
  font-size: 18px;
}

.home__content {
  margin-top: 20px;
}

.home__content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.property-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
}

.property-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.property-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.property-card p {
  margin: 5px 0;
}

.property-card {
  position: relative;
}

.wishlist-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff5a5f;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.wishlist-btn.in-wishlist {
  background-color: #ff3b3f;
}

.wishlist-btn:hover {
  background-color: #ff3b3f;
}
